* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    
    
}

.main .card {
    border: 2px solid green;
    text-align: center;
    /* margin: 0px 20% 40px 20%; */
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    
}